body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(rgb(1, 24, 32), #fff);
}
.container-1 {
  overflow: hidden;
}

.container-2 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.container-3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
  margin: auto;
}

.container-4 {
  overflow: hidden;
  background: rgb(1, 24, 32);
  width: 100%;
}

ul {
  padding: 0%;
  margin: 0%;
}

header .section-1 {
  color: #fff;
  min-height: 30%;
  background: rgb(1, 24, 32);
  border-bottom: rgb(19, 86, 209) 5px solid;
}

header a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  display: inline-block;
  padding: 20px;
}

header li i {
  padding: 10px;
}

header #branding {
  float: left;
}

header #branding img {
  margin: 0%;
  width: 130px;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .current a {
  color: rgb(19, 86, 209);
  font-weight: bold;
}

header a:hover {
  color: rgb(19, 86, 209);
  font-weight: bold;
}

#showcase {
  position: sticky;
  min-height: 300px;
  background: url(./cover5.jpg) no-repeat 0 -4300px;
  text-align: center;
  color: rgb(19, 86, 209);
  border-bottom: rgb(19, 86, 209) 5px solid;
}

#showcase2 {
  min-height: 500px;
  background-image: linear-gradient(#fff, rgb(1, 24, 32));
  text-align: center;
  color: rgb(19, 86, 209);
}

#showcase3 {
  min-height: 1100px;
  background-image: linear-gradient(#fff, rgb(1, 24, 32));
  text-align: left;
  color: rgb(19, 86, 209);
}

#showcase4 {
  min-height: 700px;
  background-image: linear-gradient(#fff, rgb(1, 24, 32));
  text-align: center;
  color: rgb(19, 86, 209);
}

#showcase h1 {
  margin-top: 30px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase2 h1 {
  margin-top: 60px;
  font-size: 45px;
  margin-bottom: 10px;
  border-bottom: 2px solid rgb(1, 24, 32);
  border-bottom-width: 80%;
}

#showcase3 h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 55px;
  margin-bottom: 10px;
  border-bottom: 3px solid rgb(1, 24, 32);
}

#showcase4 h1 {
  text-align: center;
  text-transform: uppercase;
  margin-top: 30px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 28px;
}

#showcase2 p {
  font-size: 28px;
}

#showcase3 h3 {
  font-size: 28px;
}
#showcase3 p {
  font-size: 16px;
}
#showcase3 .part2 {
  color: #fff;
}

#showcase4 p {
  font-size: 28px;
}

#feedbox {
  background: rgb(133, 173, 247);
  border: 4px solid rgb(19, 86, 209);
  width: 60%;
  height: 300px;
  margin-left: 20%;
}

#feedbox .one {
  margin-top: 4%;
  margin-right: 50%;
}

#feedbox .two {
  margin-right: 50.6%;
}

#feedbox .three {
  margin-right: 36.3%;
}
#feedbox #name,
#email {
  border: none;
  background: #fff;
  color: #000;
  height: 28px;
  width: 300px;
}
#feedbox #message {
  border: none;
  background: #fff;
  color: #000;
  height: 120px;
  width: 300px;
}

#feedbox #submit {
  float: right;
  background: rgb(19, 86, 209);
  color: #fff;
  height: 31px;
  width: 120px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 41px;
}

#boxes {
  margin-top: 30px;
  text-align: center;
}

#boxes .box {
  text-align: center;
  position: relative;
  margin: auto;
  height: 100%;
  padding: 40px;
}

#boxes .box img {
  position: sticky;
  width: 250px;
  height: 250px;
  padding: 10px;
  border: 2px solid rgb(19, 86, 209);
}

#boxes .box p {
  font-weight: bold;
  margin-top: -10px;
}

.badge {
  position: absolute;
  padding: 5px;
  background: rgb(0, 0, 0);
  text-transform: uppercase;
  border: 2px solid rgb(133, 7, 7);
  color: rgb(133, 7, 7);
  font: Arial;
  font-weight: bold;
  width: 150px;
  top: 55px;
  left: 55px;
}

#boxes .box .badge a {
  text-decoration: none;
  color: rgb(133, 7, 7);
}

footer #branding-2,
nav {
  float: left;
}

footer #branding-2 img {
  margin: 0%;
  width: 100px;
  padding-right: 80px;
}

footer li {
  display: inline-block;
  margin-top: 7px;
}

footer li a {
  padding: 10px;
  color: rgb(19, 86, 209);
}

footer li i {
  padding: 10px;
}

footer #form {
  float: right;
  margin-top: 0px;
  margin-bottom: -10px;
  padding: 20px;
}

footer #form #email {
  background: #fff;
  color: #000;
  height: 28px;
  width: 300px;
  border: none;
}

footer #form #submit {
  background: rgb(19, 86, 209);
  color: #fff;
  height: 31px;
  width: 100px;
  border: none;
  text-transform: uppercase;
  font-weight: bold;
}

footer #form label {
  color: #fff;
}

footer #form a {
  color: rgb(19, 86, 209);
  text-decoration: none;
}

footer #copyright {
  margin-top: -15px;
  height: 20px;
  background: rgb(19, 86, 209);
  color: rgb(1, 24, 32);
  text-align: center;
}

#feedback {
  overflow: hidden;
  position: fixed;
  background: rgb(226, 215, 215);
  color: rgb(1, 24, 32);
  border: 4px solid rgb(133, 7, 7);
  height: 143px;
  width: 40px;
  right: 0px;
  top: 230px;
  cursor: pointer;
  text-transform: uppercase;
}

#feedback a {
  text-decoration: none;
  color: black;
}

#feedback h3 {
  transform: rotate(-90deg);
  margin-top: 238%;
  font-weight: normal;
  font-size: 150%;
}

.aboutus {
  color: rgb(19, 86, 209);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.aboutus h3 {
  margin-top: 21px;
  padding-right: 20px;
  padding-left: 20px;
}

.aboutus a {
  text-decoration: none;
  color: rgb(19, 86, 209);
}
.a1 {
  margin-top: 25px;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 30px;
  order: 2;
}

.a2 {
  margin-top: 25px;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 30px;
  order: 1;
}

.a3 {
  margin-top: 25px;
  font-weight: bold;
  padding-right: 30px;
  padding-left: 30px;
  order: 3;
}

@media screen and (max-width: 884px) and (min-width: 814px) {
  footer .fsec1 {
    float: none;
    display: flex;
    justify-content: center;
  }
  footer .fsec2 {
    float: none;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 813px) and (min-width: 690px) {
  header #branding {
    width: 30px;
    margin-left: -20px;
  }
  header nav {
    float: right;
  }

  #showcase h1 {
    font-size: 35px;
  }
  #showcase p {
    font-size: 22px;
  }

  header nav a {
    font-size: 13px;
  }

  footer .fsec1 {
    float: none;
    display: flex;
    justify-content: center;
  }
  footer .fsec2 {
    float: none;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 689px) and (min-width: 466px) {
  header #branding {
    float: none;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }
  header ul {
    display: grid;
  }
  header nav {
    float: none;
  }

  header li {
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  #showcase h1 {
    font-size: 35px;
  }
  #showcase p {
    font-size: 22px;
  }

  header nav a {
    font-size: 13px;
  }

  footer .fsec1 {
    float: none;
    display: flex;
    justify-content: center;
  }
  footer .fsec2 {
    float: none;
    display: flex;
    justify-content: center;
  }
}

@media screen and (max-width: 465px) and (min-width: 320px) {
  header #branding {
    float: none;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }

  header #branding img {
    width: 100px;
  }
  header ul {
    display: grid;
  }
  header nav {
    float: none;
  }

  header li {
    display: flex;
    justify-content: center;
    padding: 5px;
  }

  #showcase h1 {
    font-size: 20px;
  }
  #showcase p {
    font-size: 14px;
  }

  header nav a {
    font-size: 9px;
  }

  footer #branding-2 img {
    margin: 0%;
    width: 100px;
    padding-right: 20px;
  }
  #form #email {
    display: flex;
    justify-content: center;
  }
  footer .fsec1 {
    float: none;
    display: flex;
    justify-content: center;
  }

  footer .fsec2 {
    float: none;
    display: flex;
    justify-content: center;
  }
}
