body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
  padding: 0;
  margin: 0;
}
.container-1 {
  overflow: hidden;
}
.container-2 {
  width: 80%;
  margin: auto;
  overflow: hidden;
}
.container-3 {
  width: 100%;
  margin: auto;
}

ul {
  padding: 0%;
  margin: 0%;
}

header .section-1 {
  color: #fff;
  min-height: 30%;
  background: rgb(1, 24, 32);
  border-bottom: rgb(19, 86, 209) 5px solid;
}

header a {
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 30px 40px 0px 20px;
}

header #branding {
  float: left;
}

header #branding img {
  margin: 0%;
  width: 130px;
}

header nav {
  float: right;
  margin-top: 10px;
}
header .current a {
  color: rgb(19, 86, 209);
  font-weight: bold;
}

header a:hover {
  color: rgb(19, 86, 209);
  font-weight: bold;
}

#showcase {
  min-height: 300px;
  background: url(/css/cover5.jpg) no-repeat 0 -4300px;
  text-align: center;
  color: rgb(19, 86, 209);
  border-bottom: rgb(19, 86, 209) 5px solid;
}

#showcase h1 {
  margin-top: 30px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 28px;
}

#boxes {
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}

#boxes .box {
  float: left;
  text-align: center;
  margin-left: 10px;
  width: 30%;
  padding: 15px;
}

#boxes .box img {
  width: 250px;
  height: 250px;
  padding: 5px;
  border: 2px solid rgb(19, 86, 209);
}
